backend/uploads/day/*
!backend/uploads/day/.gitkeep

backend/uploads/icons/*
!backend/uploads/icons/.gitkeep

backend/uploads/images/*
!backend/uploads/images/.gitkeep

backend/uploads/users/*
!backend/uploads/users/.gitkeep

backend/uploads/videos/*
!backend/uploads/videos/.gitkeep


backend/selected-exercises/*
!backend/selected-exercises/.gitkeep

backend/src/main/resources/application.properties

#Spring Boot
target/
*.log
.env